# ------- MySQL general configuration -------
MYSQL_HOST=localhost
MYSQL_DATABASE=lazada_ecommerce

# ------- MySQL configuration for admin -------
MYSQL_ADMIN_USER=admin
MYSQL_ADMIN_PASSWORD=Ladmin

# ------- MySQL configuration for customer -------
MYSQL_CUSTOMER_USER=customer
MYSQL_CUSTOMER_PASSWORD=Lcustomer

# ------- MySQL configuration for seller -------
MYSQL_SELLER_USER=seller
MYSQL_SELLLER_PASSWORD=Lseller

# ------- Node configuration -------
NODE_ENV=development
NODE_PORT=3000
PRIVATE_KEY=put_your_private_key_here